<h1>User search</h1>
<%= form_tag(posts_search_path , method: :get) do %>
    <%= select(@search_content, :search_method, [["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]])%>
    <%= text_field(@search_content, :search_word)%>
    <%= submit_tag "検索" %>
<% end %>
<form action="サイトURL" method="get">
 <input type="search" name="search" placeholder="キーワードを入力”>
 <input type="submit" name="submit" value="検索”>
</form>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>